body{
    position: relative;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}
.col-{
    padding: 0;
}
.div-wsp{
    text-align: center;
    z-index: 100000;
    position: fixed;
    top: 530px;
    right: 40px;
    transition: 0.5;
    opacity: 1;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: #62CC76;
}
.div-wsp:hover{
    border-radius: 50px;
    background-color: #46E858;
    
}
.wsp{
    margin-right: 1px;
    margin-top: 10px;
    position: sticky;
    height: 30px;
    width: 30px;
    z-index: 1000000000;
}
.div-wsp:active{
    background-color: #47C65F;
}
/* NAV */

nav{
    height: 80px;
    box-shadow: rgb(98, 98, 98) 0px 4px 10px 0px;
    background-color: #564595;
}
.nav-item{
    margin-top: 20px;
}
.navbar-brand{
    z-index: 100000;
}
.navbar-collapse{
    background-color: #564595;
    margin-top: -15px;
    margin-left: -15px;
    margin-right: -11.5px;
    padding: 15px;
    z-index: 10000;
}
#separado{
    margin-right: 70px;
}
.separado2{
    margin-right: 25px;
}
.nav-link{
    color: #fff;
}
nav img{
    margin-left: 70px;
    margin-bottom: 29.34px;
    margin-top: 30px;
    height: 30px;
}



/* HEADER */

.img-back{
    text-align: left;
    background-size: cover;
    background-image: url(/Img/imagen-header.png);
    
}
.img-back h1{
    margin-left: 70px;
    margin-top: 120px;
    font-weight: 600;
    font-size: 50px;
    line-height: 107.5%;
}
.img-back h4{
    font-size: 20px;
    line-height: 30px;
    margin-left: 70px;
    margin-top: 23px;
    justify-content: left;
}
.img-back button{
    margin-left: 70px;
    color: #fff;
    background-color: #564595;
    padding: 10px 24px 10px 24px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 105px;
    text-align: center;
    border: 1px;
}
.img-back button:hover{
    background-color: #886DEA;
}
.img-back a{
    text-decoration: none;
    color: #fff;
}
.logoT{
    width: 70px;
    height: 52px;
    position: relative;
    top: 80px;
    left: 70px;
}

/* LINEA MORADA */

#linea-oscura{
    height: 21px;
    background-color: #564595;
}
#linea-clara{
    height: 21px;
    background-color: #ACA4CB;
}
.morado{
    color: #564595;
}


/* QUIENES SOMOS */


.quienes-somos h2{
    margin-top: 123px;
    margin-left: 291px;
    font-weight: 600;
    line-height: 47.61px;
}
.quienes-somos h4{
    font-weight: 500;
    font-size: 25px;
    line-height: 30.48px;
    margin-left: 291px;
    margin-top: 10px;
    margin-right: 399px;
}
.quienes-somos .parraf{
    text-align: justify;
    margin-left: 291px;
    margin-right: 289px;
    margin-top: 30px;
    line-height: 24px;
}
#asesores{ 
    margin-top: 60px;
    font-weight: 600;
    margin-bottom: 50px;
    line-height: 30.48px;
}

.card{
    height: 550px;
    width: 310px;
    margin-left: 0px;
    margin-right: 20px;
    border: 1px;
}
.nombre{
    line-height: 24.38px;
    font-size: 20px;
    font-weight: 700;
}
.prim{
    margin-left: 291px;
}
.last{
    margin-right: 180px;
}
.card-group{
    margin-bottom: 120px;
    font-family: 'Montserrat', sans-serif;
}
#patri{
    width: 250px;
    height: 306px;
    margin-left: 10px;
}
#carli{
    width: 300px;
}
.card-group{
    margin-bottom: 170px;
}
.card-group img{
    margin-left: -20px;
    height: 306px;
    width: 310px;
} 
.btn-cards{
    color: #fff;
    background-color: #564595;
    padding: 10px 24px 10px 24px;
    border-radius: 10px;
    text-align: center;
    border: 1px;
}
#div-btn{
    margin-bottom: 20px;
    margin-top: 10px;
}
#div-btn2{
    
    margin-top: 20px;
}
.btn-cards:hover{
    background-color: #886DEA;
}
.a-btn{
    text-decoration: none;
    color: #fff;
}
.a-btn:hover{
    
    color: #fff;
}


/* POR QUE ES IMPORTANTE CONTAR CON UN SEGURO */


.importante{
    background-color: #F4F4F4;
}
.importante h3{
    line-height: 38.09px;
    font-weight: 500;
    margin-top: 120px;
    margin-left: 290px;
    margin-bottom: 60px;
}
.negrita{
    font-weight: 700;
}
.lorem{
    font-size: 25px;
    line-height: 30.48px;
    margin-left: 290px;
    margin-bottom: 23px;
}
.loremp{
    font-weight: 400;
    line-height: 24px;
    font-size: 16px;
    margin-left: 290px;
}
.loremimg{
    margin-left: 290px;
    width: 320px;
    height: 135px;
    margin-bottom: 45px;
}
.lorem2{
    font-size: 25px;
    line-height: 30.48px;
    margin-left: 22px;
    margin-bottom: 23px;
    margin-right: 260px;
}
.loremp2{
    font-weight: 400;
    line-height: 24px;
    font-size: 16px;
    margin-left: 22px;
    margin-right: 260px;
}
.loremimg2{
    margin-left: 20px;
    width: 320px;
    height: 135px;
    margin-bottom: 45px;
    margin-right: 260px;
}
#loremimg1{
    margin-bottom: 137px;
}
#loremimg2{
    margin-bottom: 137px;
}
/* PRODUCTOS */

.productos{
    background-color: #F4F4F4;
}
.titulo-productos{
    font-weight: 600;
    line-height: 47.61px;
    margin-top: 97px;
    margin-left: 293px;
    margin-bottom: 10px;
}
.sub-productos{
    
    font-weight: 500;
    line-height: 30.48px;
    margin-left: 293px;
}
.auto{
    margin-top: 67px;
    margin-left: 293px;
    text-align: center;
    height: 130px;
    width: 130px;
    border-radius: 70px;
    background-color: #564595;
}
.auto-h5{
    margin-bottom: 20px;
    margin-top: 30px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24.38px;
    margin-left: 293px;
}
.imgauto{
    
    margin-top: 30px;
}
#img-ap{
    width: 50px;
    margin-top: 25px;
}
#vida{
    margin-top: 35px;
}
.imgauto2{
    margin-top: 25px;
}
svg{
    margin-right: 5px;
    color: #564595;
}
.items{
    margin-bottom: 1px;
    line-height: 24px;
    font-weight: 400;
    font-size: 16px;
    margin-left: 293px;
}
.escpacio-p{
    margin-bottom: 67px;
}
.auto2{
    margin-left: 30px;
    margin-top: 67px;

    text-align: center;
    height: 130px;
    width: 130px;
    border-radius: 70px;
    background-color: #564595;
}
.items2{
    margin-bottom: 1px;
    line-height: 24px;
    font-weight: 400;
    font-size: 16px;
    margin-left: 30px;
    margin-right: 290px;
}
.auto-h5-2{
    margin-bottom: 20px;
    margin-top: 30px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24.38px;
    margin-left: 30px;
}
#ultimo-item{
    margin-bottom: 127px;
}
.cuadrito{
    border-radius: 5px;
    box-shadow: rgb(201, 201, 201) 0px 0px 10px 0.25px;
    position: absolute;
    top: 57.7%;
    left: 50%;
    width: 440px;
    height: 270px;
    background-color: #fff;
}
.cuadrito h5{
    font-weight: 600;
    margin-top: 35px;
    margin-bottom: 29px;
    margin-left: 24px;
    font-size: 20px;
    line-height: 24.38px;

}
.items3{
    margin-right: 10px;
    margin-left: 15px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    margin-bottom: 5px;
}
.cuadrito #tarjeta-credito{
    position: relative;
    top: 0px;
    left: 130px;
}

/* ATENCION AL CLIENTE */


.AAC-h2{
    font-weight: 600;
    line-height: 47.61px;
    margin-top: 75px;
    margin-left: 293px;
}
.AAC-p{
    line-height: 19.5px;
    font-size: 16px;
    font-weight: 400;
    margin-top: 30px;
    margin-left: 293px;
    margin-right: 309px;
    margin-bottom: 60px;
}
.atencion-al-cliente .col-8{
    margin: 0px;
    margin-left: -40px;
    padding: 0px;
}
.atencion-al-cliente .col-3{
    margin: 0px;
    padding: 0px;
}

.accordion{
    
    --bs-accordion-btn-focus-box-shadow:0 0 0 0.1rem #624fa9 ;
    --bs-accordion-active-color: #fff ;
    --bs-accordion-active-bg: #564595;
    margin-bottom: 123px;
}

.accordion-button:blank {        
    background-color: #564595;
    height: 40px;
    color: white;   
}
.accordion-button:is(.collapsed)::after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23564595'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") ;    
}
.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") ;    
}



/* CONTACTO */

.contacto{
    background-color: #f6f6f6;
}
.contacto-h3{
    margin-bottom: 30px;
    margin-top: 117px;
    margin-left: 293px;
    font-size: 31.25px;
    font-weight: 600;
    line-height: 38.09px;
}
.contacto-p{
    margin-left: 293px;
    margin-right: 199px;
    margin-bottom: 76px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.telefono{
    margin-left: 293px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.titulo-contact{
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
}
.telefono-p{
    margin-left: 10px;
    margin-top: 20px;
    font-weight: 400;
    line-height: 24px;
    font-size: 16px;
}
.telefono2{
    margin-top: -30px;
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.telefono-p2{
    margin-right:200px;
    margin-left: 10px;
    margin-top: 50px;
    font-weight: 400;
    line-height: 24px;
    font-size: 16px;
}
.titulo-contact2{
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
}
#direccion{
    margin-top: -5px;
    margin-left: 10px;
    margin-bottom: 112px;
}
#wsp-p{
    margin-right: 40px;
}
#tel{
    margin-right: 30px;
}

/* PREFOOTER */

#prefooter{
    display: flex;
    align-items: center;
}
.prefooter{
    margin-top: -10px;
    background-color: #564595;
    height: 304px;
}
.prefooter-p{
    color: #fff;
    margin-left: 90px;
    margin-right: 39px;
    line-height: 19.5px;
    font-size: 16px;
    font-weight: 500;

}
.logo-footer{
    margin-left: 68px;
    margin-top: -50px;
    width: 332px;
    height: 54px;
}
.data-fiscal{
    height: 168px;
    width: 124px;
}
.data-fiscal-posi{
    margin-top: 70px;
    margin-bottom: 70px;
    margin-right: 70px;
}
.img-ssn{
    width: 200px;
    height: 30px;
    margin-right: 20px;
}


/* FOOTER */

footer{
    color: #fff;
    background-color: #382C65;
    text-align: center;
}
footer p{
    margin-top: 18px;
    margin-bottom: 22px;
}

@media only screen and (max-width:425px){
    html{
        overflow-x: hidden;
    }
    
    nav img{
        margin-left: 70px;
        margin-bottom: 29.34px;
        margin-top: 15px;
        height: 30px;
    }    
    .div-wsp{
        text-align: center;
        z-index: 100000;
        position: fixed;
        top: 410px;
        right: 20px;
        transition: 0.5;
        opacity: 1;
        width: 45px;
        height: 45px;
        border-radius: 50px;
        background-color: #62CC76;
    }
    .div-wsp:hover{
        border-radius: 50px;
        background-color: #46E858;
        
        
    }
    .div-wsp:active{
        background-color: #47C65F;
    }
    .wsp{
        margin-right: 2spx;
        margin-top: 7px;
        position: sticky;
        height: 30px;
        width: 30px;
        z-index: 1000000000;
    }
    .img-back{
        
        text-align: left;
        background-size: cover;
        background-image: url(/Img/imagen-header-movile.png);
    }
    .img-back h1{
        text-align: left;
        margin-left: 30px;
        margin-top: 90px;
        font-weight: 600;
        font-size: 35px;
        line-height: 
        97%;
    }
    
    .img-back h4{
        color: black;
        font-weight: 600;
        font-size: 15px;
        margin-left: 30px;
        margin-top: 15px;
        justify-content: left;
    }
    .img-back button{
        margin-left: 30px;
        color: #fff;
        background-color: #564595;
        padding: 10px 24px 10px 24px;
        border-radius: 10px;
        margin-top: 30px;
        margin-bottom: 50px;
        text-align: center;
        border: 1px;
    }
    .logoT{
        width: 50px;
        height: 30px;
        position: relative;
        top: 70px;
        left: 30px;
    }
    .quienes-somos h2{
        margin-top: 123px;
        margin-left: 30px;
        font-weight: 600;
        line-height: 47.61px;
    }
    .quienes-somos h4{
        font-weight: 700;
        font-size: 25px;
        line-height: 30.48px;
        margin-left: 30px;
        margin-top: 30px;
        margin-right: 20px;
    }
    .quienes-somos .parraf{
        text-align: justify;
        margin-left: 30px;
        margin-right: 30px;
        margin-top: 40px;
        line-height: 24px;
    }
    .card-group img{
        margin-left: -20px;
        height: 306px;
        width: 310px;
        
    } 
    .btn-cards{
        
        color: #fff;
        background-color: #564595;
        padding: 10px 24px 10px 24px;
        border-radius: 10px;
        text-align: center;
        border: 1px;
    }
    #div-btn{
        margin-bottom: 20px;
        margin-top: 10px;
    }
    #div-btn2{
        
        margin-top: 20px;
    }
    .prim{
        margin-bottom: 80px;
        margin-left: auto;
        margin-right: auto;
    }
    .mid{
        margin-bottom: 80px;
        margin-top: 80px;
        margin-left: auto;
        margin-right: auto;
    }
    .last{
        margin-top: 80px;
        margin-left: auto;
        margin-right: auto;
    }
    .card-group{
        
        margin-left: 50;
        
        margin-bottom: 200px;
    }
    .importante h3{
        font-size: 25px;
        line-height: 33.09px;
        font-weight: 700;
        margin-top: 120px;
        margin-left: 30px;
        margin-bottom: 60px;
    }
    .lorem{

        font-size: 20px;
        line-height: 30.48px;
        margin-left: 30px;
        margin-bottom: 23px;
        margin-right: 30px;
    }
    .loremp{
        font-weight: 400;
        line-height: 24px;
        font-size: 16px;
        margin-left: 30px;
        margin-right: 30px;
    }
    .loremimg{
        margin-right: 40px;
        margin-left: 30px;
        width: 320px;
        height: 135px;
        margin-bottom: 45px;
    }
    .lorem2{
        margin-left: 30px;
        font-size: 20px;
        line-height: 30.48px;
        margin-bottom: 23px;
        margin-right: 30px;
    }
    .loremp2{
        margin-left: 30px;
        font-weight: 400;
        line-height: 24px;
        font-size: 16px;
        margin-left: 30px;
        margin-right: 40px;
    }
    .loremimg2{
        margin-left: 30px;
        width: 320px;
        height: 135px;
        margin-bottom: 45px;
        margin-right: 40px;
    }
    #loremimg1{
        margin-bottom: 45px;
    }
    #loremimg21{
    margin-bottom: 70px;
    }
    /* PRODUCTOS */

.titulo-productos{
    font-weight: 600;
    line-height: 47.61px;
    margin-top: 97px;
    margin-left: 30px;
    margin-bottom: 30px;
}
.sub-productos{
    font-weight: 500;
    line-height: 30.48px;
    margin-left: 30px;
}
.auto{
    margin-top: 67px;
    margin-left: 30px;
    text-align: center;
    height: 130px;
    width: 130px;
    border-radius: 70px;
    background-color: #564595;
}
.auto-h5{
    margin-bottom: 20px;
    margin-top: 30px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24.38px;
    margin-left: 30px;
}
.imgauto{
    margin-top: 35px;
}
.imgauto2{
    margin-top: 25px;
}
svg{
    color: #564595;
}
.items{
    margin-bottom: 1px;
    line-height: 24px;
    font-weight: 400;
    font-size: 16px;
    margin-left: 30px;
}
.escpacio-p{
    margin-bottom: 67px;
}
.auto2{
    margin-left: 30px;
    margin-top: 67px;
    text-align: center;
    height: 130px;
    width: 130px;
    border-radius: 70px;
    background-color: #564595;
}
.items2{
    margin-bottom: 1px;
    line-height: 24px;
    font-weight: 400;
    font-size: 16px;
    margin-left: 30px;
    margin-right: 30px;
}
.auto-h5-2{
    margin-bottom: 20px;
    margin-top: 30px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24.38px;
    margin-left: 30px;
}
#ultimo-item{
    margin-bottom: 500px;
}
.cuadrito{
    border-radius: 5px;
    box-shadow: rgb(201, 201, 201) 0px 0px 10px 0.25px;
    position: absolute;
    top: 64.2%;
    left: 10%;
    right: auto;
    width: 345px;
    height: 330px;
    background-color: #f3f3f3;
}
.cuadrito h5{
    font-weight: 600;
    margin-top: 35px;
    margin-bottom: 29px;
    margin-left: 24px;
    font-size: 20px;
    line-height: 24.38px;

}
.items3{
    margin-right: 10px;
    margin-left: 15px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    margin-bottom: 5px;
}
.cuadrito #tarjeta-credito{
    position: relative;
    top: 0px;
    left: 25px;
}
.espacio{
    margin-bottom: 199px;
}

/* ATENCION AL CLIENTE */

.atencion-al-cliente{
    background-color: #f6f6f6;
}
.AAC-h2{
    font-weight: 600;
    line-height: 47.61px;
    margin-top: 75px;
    margin-left: 30px;
}
.AAC-p{
    line-height: 19.5px;
    font-size: 16px;
    font-weight: 400;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 60px;
}
.atencion-al-cliente .col-8{
    margin: 0px;
    margin-left: -60px;
    padding: 0px;
}
.atencion-al-cliente .col-3{
    margin: 0px;
    padding: 0px;
}
.accordion-button::after{
    color: #564595;
}
.accordion{
    margin-bottom: 123px;
}
.doacc{
    font-size: 10px;
}
.doacc2{
    font-size: 12px;
}
/* CONTACTO */

.contacto-h3{
    margin-bottom: 30px;
    margin-top: 117px;
    margin-left: 30px;
    font-size: 31.25px;
    font-weight: 600;
    line-height: 38.09px;
}
.contacto-p{
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 76px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.telefono{
    margin-left: 30px;
    display: flex;
    align-items: center;
}

.titulo-contact{
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
}
.telefono-p{
    margin-top: 20px;
    font-weight: 400;
    line-height: 24px;
    font-size: 16px;
}
.telefono2{
    margin-top: -30px;
    margin-left: 30px;
    display: flex;
    align-items: center;
}

.telefono-p2{
    margin-right:30px;
    margin-left: 20px;
    margin-top: 50px;
    font-weight: 400;
    line-height: 24px;
    font-size: 16px;
}
.titulo-contact2{
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
}
#direccion{
    margin-top: 5px;
    margin-left: 30px;
    margin-bottom: 112px;
}
#wsp-p{
    margin-right: 55px;
}
#tel{
    margin-right: 28px;
}

/* PREFOOTER */

#prefooter{
    display: block;
    align-items: center;
}
.prefooter{
    margin-top: -10px;
    background-color: #564595;
    height: 721px;
}
.prefooter-p{
    text-align: center;
    margin-top: 41px;
    color: #fff;
    margin-left: 22px;
    margin-right: 20px;
    line-height: 17.07px;
    font-size: 14px;
    font-weight: 500;

}
.logo-footer{
    margin-left: 68px;
    margin-top: 75px;
    width: 244.91px;
    height: 40px;
}
.data-fiscal{
    width: 130px;
    height: 177px;
}
.data-fiscal-posi{
    margin-left: 135px;
    margin-right: 111px;
    margin-top: 25px;
}
.img-ssn{
    margin-top: 10px;
    width: 250px;
    height: 30px;
    margin-left: 20px;
}

/* FOOTER */

footer{
    color: #fff;
    background-color: #382C65;
    text-align: center;
}
footer p{
    margin-top: 18px;
    margin-bottom: 22px;
}
}
@media only screen and (max-width:375px){
    html{
        overflow-x: hidden;
    }
    .img-back h4{
        line-height: 20px;
        color: black;
        font-weight: 600;
        font-size: 13px;
        margin-left: 30px;
        margin-top: 15px;
        justify-content: left;
    }
    .cuadrito{
        border-radius: 5px;
        box-shadow: rgb(201, 201, 201) 0px 0px 10px 0.25px;
        position: absolute;
        top: 64.2%;
        left: 10%;
        right: auto;
        width: 300px;
        height: 330px;
        background-color: #f3f3f3;
    }
    .cuadrito h5{
        font-weight: 600;
        margin-top: 35px;
        margin-bottom: 29px;
        margin-left: 24px;
        font-size: 20px;
        line-height: 24.38px;
    
    }
    .items3{
        margin-right: 10px;
        margin-left: 15px;
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        margin-bottom: 5px;
    }
    .cuadrito #tarjeta-credito{
        position: relative;
        top: 0px;
        left: 25px;
    }
    .espacio{
        margin-bottom: 199px;
    }
    #wsp-p{
        margin-right: 3px;
    }
    #tel{
        margin-right: -20px;
    }
    .logo-footer{
        margin-left: 48px;
        margin-top: 75px;
        width: 244.91px;
        height: 40px;
    }
    .data-fiscal{
        width: 130px;
        height: 177px;
    }
    .data-fiscal-posi{
        margin-left: 120px;
        margin-right: 111px;
        margin-top: 25px;
    }
    .img-ssn{
        margin-top: 10px;
        width: 250px;
        height: 30px;
        margin-left: 35px;
    }
    .doacc{
        font-size: 8px;
    }
    .doacc2{
        font-size: 10px;
    }
}
@media only screen and (max-width:320px){
    nav img{
        margin-left: 30px;
        margin-bottom: 29.34px;
        margin-top: 25px;
        height: 20.66px;
    }
    .sub-productos{
        
        font-size: 16px;
        margin-right: 80px;
        font-weight: 500;
        line-height: 30.48px;
        margin-left: 30px;
    }
    .cuadrito{
        border-radius: 5px;
        box-shadow: rgb(201, 201, 201) 0px 0px 10px 0.25px;
        position: absolute;
        top: 63.2%;
        left: 10%;
        right: auto;
        width: 250px;
        height: 400px;
        background-color: #f3f3f3;
    }
    .cuadrito h5{
        font-weight: 600;
        margin-top: 35px;
        margin-bottom: 29px;
        margin-left: 24px;
        font-size: 20px;
        line-height: 24.38px;
    
    }
    .items3{
        margin-right: 10px;
        margin-left: 15px;
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        margin-bottom: 5px;
    }
    .cuadrito #tarjeta-credito{
        position: relative;
        top: 0px;
        left: 65px;
    }
    .espacio{
        margin-bottom: 199px;
    }
    .atencion-al-cliente .col-8{
        margin: 0px;
        margin-left: -40px;
        padding: 0px;
    }
    #wsp-p{
        margin-left: 20px;
        margin-right: 5px;
    }
    #tel{
        margin-left: 20px;
        margin-right: 5px;
    }
    .logo-footer{
        margin-left: 28px;
        margin-top: 75px;
        width: 244.91px;
        height: 40px;
    }
    .data-fiscal{
        width: 130px;
        height: 177px;
    }
    .data-fiscal-posi{
        
        margin-left: 85px;
        margin-right: 111px;
        margin-top: 25px;
    }
    .img-ssn{
        margin-top: 10px;
        width: 200px;
        height: 30px;
        margin-left: 25px;
    }
    .loremimg2{
        margin-left: 30px;
        width: 250px;
        height: 135px;
        margin-bottom: 45px;
        margin-right: 40px;
    }
    .loremimg{
        width: 250px;
    }
    .doacc{
        font-size: 7px;
    }
    .doacc2{
        font-size: 9px;
    }
}
@media only screen and (max-width:414px){
    /* CONTACTO */

.contacto-h3{
    margin-bottom: 30px;
    margin-top: 117px;
    margin-left: 30px;
    font-size: 31.25px;
    font-weight: 600;
    line-height: 38.09px;
}
.contacto-p{
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 76px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.telefono{
    margin-left: 30px;
    display: flex;
    align-items: center;
}

.titulo-contact{
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
}
.telefono-p{
    margin-left: 20px;
    margin-top: 20px;
    font-weight: 400;
    line-height: 24px;
    font-size: 16px;
}
.telefono2{
    margin-top: -30px;
    margin-left: 30px;
    display: flex;
    align-items: center;
}

.telefono-p2{
    margin-right:30px;
    margin-left: 20px;
    margin-top: 50px;
    font-weight: 400;
    line-height: 24px;
    font-size: 16px;
}
.titulo-contact2{
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
}
#direccion{
    margin-top: 5px;
    margin-left: 30px;
    margin-bottom: 112px;
}
#wsp-p{
    margin-left: 20px;
    
}

}
@media only screen and (min-width: 1280px){
    #wsp-p{
        margin-left: 10px;
    }
    #direccion{
        margin-top: 45px;
    }
}